*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.782vw;
}
.mainWrapper {
    height: 100vh;
    position: relative;
}
.headerMain {
    font-size: 10rem;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    
    color: rgb(52, 50, 50);
}
.mainWrapper::before {    
    content: "";
    background-image: url(../assets/images/pexels-diego-henao-397418.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.headerTwo{
    font-size: 6rem;
    text-align: center;
    color: rgb(114, 33, 33);
}
.enter{
    background-color: transparent;
    width: 25vw;
    height: 7vw;
    text-decoration: none;
    text-transform: capitalize;
    transform: translateY(-60%);
    color: rgb(151, 31, 31);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    cursor: pointer;
    bottom: -10%;
    left: 35%;
}
