*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.782vw;
}
.mainHeader {
    background-image: url(../assets/images/pexels-stanislav-kondratiev-2908984.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.mainHeader1 {
    font-size: 10rem;
    
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
    
    
}
@keyframes rotating {
    from {transform: translateX(-200%);}
    to {transform: translateX(0);}
}
.mainSpan{
    font-size: 6rem;
   
    color: rgb(255, 0, 0);
}
.catalog {

    transition: all ease-in;
 display: flex; 
 flex-wrap: wrap;
}
.headerCatalog {
    text-align: center;
    padding: 2%;
    text-transform: capitalize;
    
    width: 100%;
    font-size: 5rem;

}

.item {
    animation-name: transp;
    animation-duration: 4s;
    
    width: 30vw;
    max-height: 100%;
    padding: 2%;
    margin: 1%;
    background-image: url(../assets/images/books/frame3.jfif);
    background-size: 130%;
    background-position: 32% 8%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    transition: all ease-in;

    
}
@keyframes transp {
    0% {background-color: white;}
    10% {background: rgba(255, 255, 255, 0.127);}
    50% {background: rgba(255, 255, 255, 0.227);}
    70% {background: rgba(255, 255, 255, 0.527);}
    100%{background: rgba(255, 255, 255, 0.827);}

}
.imgWrapper {
    width: 50%;
    position: relative;
    
    
    transition: all 1.5s;
    animation-name: book;
    animation-duration: 4s;
    transition: all ease-in;
    
}
@keyframes book {
    
    0%{opacity: 0;
        border: 2px solid transparent;
         transform: translateX(100%);
          
    }
    90%{border: 2px solid transparent;
        opacity: 50;}
    100% { opacity: 100;
        box-shadow: 13px 0px 32px;
        border: 2px solid  rgba(73, 72, 72, 0.5);
        transform: translateX(0);}
}
.imgWrapper img {
    animation-name: transp2;
    animation-duration: 4s;
    max-width: 100%;
}
@keyframes transp2 {
    
    0%{transform: rotateY(-135deg); }
    40%{opacity: 0;}
    /* 30%{transform: rotateY(180deg);} */
    45%{opacity: 50;}
    75%{opacity: 70;}
   100% {transform: rotateY(0);
    opacity: 100;
        }
}
.textWrapper {
    width: 48%;
    padding-right: 5%;
    animation-name: transp3;
    animation-duration: 5s;
}
@keyframes transp3 {
    0% {opacity: 0;}
 50%{opacity: 0;}
    100%{opacity: 100;}

}
.description {
    font-size: 1.5rem;
    
    color: rgba(32, 31, 31, 0.65);
}
.author {
    margin-top: 1.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(32, 31, 31, 0.65);
}
.bookName {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: rgba(32, 31, 31, 0.65);
}
.price {
    font-size: 1.32rem;
    margin-bottom: 5rem;
    font-weight: bold;
    color: rgba(32, 31, 31, 0.65);
}
.btnWrapper {
    display: flex;
    justify-content: space-around;
}
.btnWrapper a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(32, 31, 31, 0.65);

}
.modal {
    transform: translateX(-30000%);
    background-color: lightgray;
    width: 25vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgba(73, 72, 72, 0.5);
    box-shadow: 13px 0px 32px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.closeModalBtn {
    color: rgba(195, 31, 31, 0.65);
   font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
.bag {
    width: 100%;
    display: flex;
    flex-direction: column;
    

}
.insideBag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.headerBag {
    text-align: center;
    padding: 2%;
    text-transform: capitalize;
    
    width: 100%;
    font-size: 5rem;
}
.priecetag {
    font-size: 6rem;
    color: rgb(250, 112, 112);
    text-align: center;
}
.ByuBtn {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 7rem;
    color: rgb(183, 79, 79);
}
